:root {
    --accent-background: blue;
    --accent-foreground: white;
}

header {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.accented {
    background-color: var(--accent-background);
    color: var(--accent-foreground);
    padding: 0.5rem;
    border-radius: 0.5rem;
}
